
body {
    background: #252525;
    display: grid;
    justify-content: center;
}
h1,
h2 {
    text-align: center;
    color: #f0f8ff;
    letter-spacing: 3px;
    
}
.btns {
    display: flex;
    justify-content: center;
}
.btn {
    justify-self: center;
    margin-bottom: 24px;
    border-radius: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    
}
.btn:hover {
    cursor: pointer;
}
.reload-btn{
    letter-spacing: 3px;
    width: 150px;
    height: 40px;
    background: #f0f8ff;
    color: black;
}
.saveMichi{
    align-self: center;
    letter-spacing: 1px;
    width: 120px;
    height: 30px;
    background: #ffcece;
    color: black;
}
.cats {
    display: grid;
    justify-content: center;
}
.cats img{
    width: 400px;
}
#favoritesMichis article{
    display: grid;
    justify-content: center;
    text-align: center;
    margin-bottom: 24px;
}
#favoritesMichis img{
    width: 400px;
}
#favoritesMichis button {
    width: 120px;
    height: 40px;
    border-radius: 20px;
    justify-self: center;
    margin-top: 8px;
    background: #f0f8ff;
    color: black;
    font-weight: 700;
}
#favoritesMichis button:hover {
    cursor: pointer;
}