
/* font-family: 'Red Hat Display', sans-serif;
font-family: 'Ubuntu', sans-serif; */
* { box-sizing: border-box; }

:root {

    --letter-dark: #333333;
    --letter-light: #f5f5f5;

    --primary: #8CD0D1;
    --secondary: #DB8958;

    --primary-light-1:#c5e7e8 ;
    --primary-light-2:#a7dbdc ;
    --primary-medium-1:#50b7b9 ;
    --primary-medium-2:#348283 ;
    --primary-dark-1:#173a3a ;
    --primary-dark-2:#0c1d1d ;
    --primary-dark-3-html:#011111 ;

    --secondary-light-1:#edc3ab ;
    --secondary-light-2:#e6ab89 ;
    --secondary-medium-1:#ca652b ;
    --secondary-medium-2:#a85424 ;
    --secondary-dark-1:#542a12 ;
    --secondary-dark-2:#221107 ;

    --background-dark: #171618;
    --grey-1: #262729;
    --grey-2: #454649;
    --grey-3: #65666A;
    --grey-4: #7D7F86;

    --category-action: #9F96D6;
    --category-comedy: #D6BC96;
    --category-drama: #D69696;
    --category-thriller: #96C7D6;
    --category-adventure: #D696CC;
    --category-fantasy: #C5D696;
    --category-animation: #96D6A4;
    --category-scary: #CC5E5E;
    --category-dystopia: #96D6C3;
    --category-love: #d170b9;

    --font-family-titles: 'Ubuntu', sans-serif;
    --font-family-text: 'Red Hat Display', sans-serif;

    --font-wight-title1: 500;
    --font-wight-title2: 700;
    --font-wight-text1: 400;
    --font-wight-text2: 500;
}
html {
    background: var(--primary-dark-3-html);
}
body {
    margin: 0;
    padding: 0;
    background: var(--background-dark);
    color: var(--letter-light);
    /* height: 100%; */
    font-family: var(--font-family-text);
    font-weight: var(--font-wight-text1);
    font-size: 16px;
    padding: 0;
}

h1, h2, h3 {
    margin: 0;
    padding: 0;
}
h1, h2 {
    font-size: 24px;
    color: var(--primary-light-2);
    font-family: var(--font-family-titles);
    font-weight: var(--font-wight-title1);
    margin: 0;
    padding: 0;   
}
h2 {
    font-size: 18px;
    color: var(--primary-dark-2);
    font-weight: var(--font-wight-title2);
}
h3 {
    font-size: 16px;
    color: var(--primary-dark-1);
    font-weight: var(--font-wight-text2);
}
input {
    background: var(--primary-light-2);
    color: var(--primary-medium-2);
    border: none;
    font-size: 18px;
    padding-left: 16px;
}
input::placeholder {
    color: var(--primary-light-1);
    font-family: var(--font-family-text);
}
button {
    background: var(--primary-dark-2);
    border: none;
    color: var(--primary-light-2);
    font-weight: var(--font-wight-text2);
    font-size: 14px;
    cursor: pointer;
}

/* Class Styles */

.header-container, .trendingPreview-header, .categoriesPreview-container {
    padding: 0 24px;
}
.trendingPreview-container, .categoriesPreview-container, footer {
    margin-top: 48px;
}
.trendingPreview-header, .categoriesPreview-title {
    margin-bottom: 24px;
}
.movie-container {
    cursor: pointer;
}
.movie-img {
    border-radius: 8px;
}
.categoriesPreview-list, .categories-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    flex-wrap: wrap;
}


/* Header */
.header-container {
    padding-top: 40px;
}
.header-container--long {
    background-image: url('https://pics.filmaffinity.com/Deadpool-777527803-large.jpg');
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.35) 19.27%, rgba(0, 0, 0, 0) 29.17%), url(https://pics.filmaffinity.com/Deadpool-777527803-large.jpg);
    background-size: cover !important;
    height: 480px;
    position: fixed;
    top: 0;
    width: 100%;
}
.header-container--categoryView {
    background: linear-gradient(180deg, rgba(238, 204, 117, 0.5) 0%, rgba(238, 204, 117, 0) 72.92%);
} 
.header-title {
    margin-bottom: 16px;
    background: linear-gradient(90deg, var(--primary) 0%, var(--secondary) 40%);
    -webkit-background-clip: text;
    color: transparent;
}
.header-arrow {
    font-weight: var(--font-weight-text2);
    font-size: 36px;
    margin-bottom: 16px;
    cursor: pointer;
    display: inline-block;
}
/* .header-arrow--white {
    color: var(--purple-light-1);
} */
.header-searchForm {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-wrap: nowrap;
}
  
.header-searchForm input {
    height: 48px;
    width: 100%;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}
.header-searchForm button {
    width: 56px;
    height: 48px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}


/* Inactive */
.inactive {
    display: none;
}