
/* font-family: 'Red Hat Display', sans-serif;
font-family: 'Ubuntu', sans-serif; */
* { box-sizing: border-box; }

:root {

    --letter-dark: #333333;
    --letter-light: #f5f5f5;

    --primary: #8CD0D1;
    --secondary: #DB8958;

    --primary-light-letter: #e1f5f6;
    --primary-light-1:#c5e7e8 ;
    --primary-light-2:#a7dbdc ;
    --primary-medium-1:#50b7b9 ;
    --primary-medium-2:#348283 ;
    --primary-dark-1:#173a3a ;
    --primary-dark-2:#0c1d1d ;
    --primary-dark-3-html:#011111 ;

    --secondary-light-1:#edc3ab ;
    --secondary-light-2:#e6ab89 ;
    --secondary-medium-1:#ca652b ;
    --secondary-medium-2:#a85424 ;
    --secondary-dark-1:#542a12 ;
    --secondary-dark-2:#221107 ;

    --background-dark: #171618;
    --grey-1: #262729;
    --grey-2: #454649;
    --grey-3: #65666A;
    --grey-4: #7D7F86;

    --category-1: #9F96D6;
    --category-2: #D6BC96;
    --category-3: #D69696;
    --category-4: #96C7D6;
    --category-5: #D696CC;
    --category-6: #C5D696;
    --category-7: #96D6A4;
    --category-8: #CC5E5E;
    --category-9: #96D6C3;
    --category-10: #d170b9;
    --category-11: #73546b ;
    --category-12: #4d927d ;
    --category-13: #63c5e3 ;
    --category-14: #50f073 ;
    --category-1: #5f51bd;
    --category-15: #eb3838 ;
    --category-16: #e320b2 ;
    --category-17: #d1f0e7 ;
    --category-18: #a9cc4a ;
    --category-19: #e0e9c7 ;

    --font-family-titles: 'Ubuntu', sans-serif;
    --font-family-text: 'Red Hat Display', sans-serif;

    --font-weight-title1: 500;
    --font-weight-title2: 700;
    --font-weight-text1: 400;
    --font-weight-text2: 500;
}
html {
    background: var(--primary-dark-3-html);
}
body {
    margin: 0;
    padding: 0;
    background: var(--background-dark);
    color: var(--letter-light);
    /* height: 100%; */
    font-family: var(--font-family-text);
    font-weight: var(--font-weight-text1);
    font-size: 16px;
    padding: 0;

}

h1, h2, h3 {
    margin: 0;
    padding: 0;
}
h1, h2 {
    font-size: 24px;
    color: var(--primary-light-2);
    font-family: var(--font-family-titles);
    font-weight: var(--font-weight-title1);
    margin: 0;
    padding: 0;   
}
h2 {
    font-size: 24px;
    color: var(--primary);
    font-weight: var(--font-weight-title2);
}
h3 {
    font-size: 16px;
    color: var(--primary-light-letter);
    font-weight: var(--font-weight-text2);
}
input {
    background: var(--secondary-light-2);
    color: var(--letter-dark);
    border: none;
    font-size: 18px;
    padding-left: 16px;
}
input::placeholder {
    color: var(--letter-dark);
    font-family: var(--font-family-text);
}
button {
    background: var(--secondary);
    border: none;
    color: var(--letter-dark);
    font-weight: var(--font-weight-text1);
    font-size: 14px;
    cursor: pointer;
}
a {
    color: var(--primary);
    text-decoration: none;
    margin-left: 6px;
}

/* Class Styles */

.header-container, .trendingPreview-header, .categoriesPreview-container, .forYouPreview-header {
    padding: 0 24px;
}
.trendingPreview-container, .categoriesPreview-container, .forYouPreview-container, footer {
    margin-top: 48px;
}
.trendingPreview-header, .forYouPreview-header, .categoriesPreview-title {
    margin-bottom: 24px;
}
.movie-container {
    cursor: pointer;
}
.movie-img {
    border-radius: 8px;
}
.categoriesPreview-list, .categories-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    flex-wrap: wrap;
}


/* Header */
.header-container {
    padding-top: 12px;
    display: flex;
    justify-content: space-between;
    background: var(--grey-1);
    border-radius: 0px 0px 12px 12px;
}
.header-container--long {
    background-image: url('');
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.35) 19.27%, rgba(0, 0, 0, 0) 29.17%), url();
    background-size: cover !important;
    height: 480px;
    position: fixed;
    top: 0;
    width: 100%;
}
.header-container--categoryView {
    background: linear-gradient(180deg, rgba(238, 204, 117, 0.5) 0%, rgba(238, 204, 117, 0) 72.92%);
} 
.header-title {
    margin-bottom: 16px;
    background: linear-gradient(90deg, var(--primary) 20%, var(--secondary) 60%);
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: 1px;
    cursor: pointer;
}
.header-arrow {
    font-weight: var(--font-weight-text2);
    font-size: 36px;
    /* margin-bottom: 16px; */
    cursor: pointer;
    display: inline-block;
}
.header-arrow--white {
    color: var(--purple-light-1);
}
.header-searchForm {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-wrap: nowrap;
}
  
.header-searchForm input {
    height: 48px;
    width: 100%;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}
.header-searchForm button {
    width: 56px;
    height: 48px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}
.header-menu {
    display: flex;
    align-items: center;
}
.header-menu img {
    width: 30px;
}
.header-menu {
    cursor: pointer;
}

/* Trending */

.trendingPreview-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.trendingPreview-btn {
    border-radius: 8px;
    height: 32px;
    width: 72px;
}
.trendingPreview-movieList {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    height: 241px;
    padding-left: 24px;
    padding-bottom: 16px;
}
.trendingPreview-movieList .movie-container {
    display: inline-block;
    margin-right: 8px;
}
.trendingPreview-movieList .movie-container .movie-img {
    height: 225px;
    min-height: 225px;
    max-height: 225px;
    width: 150px;
    min-width: 150px;
    max-width: 150px;
}  

/* Fou You */

.forYouPreview-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.forYouPreview-btn {
    border-radius: 8px;
    height: 32px;
    width: 72px;
}
.forYouPreview-movieList {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    height: 241px;
    padding-left: 24px;
    padding-bottom: 16px;
}
.forYouPreview-movieList .movie-container {
    display: inline-block;
    margin-right: 8px;
}
.forYouPreview-movieList .movie-container .movie-img {
    height: 225px;
    min-height: 225px;
    max-height: 225px;
    width: 150px;
    min-width: 150px;
    max-width: 150px;
}  


/* Categories */

.category-container {
    width: 45%;
}
.category-title {
    margin-bottom: 8px;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.category-title::before {
    content: '••••';
    color: transparent;
    /* TODO: cambiar color por ID de la categoría */
    background-color: var(--idColor);
    border-radius: 8px;
    margin-right: 8px;
    width: 8px;
    height: 8px;
}
  #id28 { --idColor: var(--category-1); }
  #id12 { --idColor: var(--category-2); }
  #id16 { --idColor: var(--category-3); }
  #id35 { --idColor: var(--category-4); }
  #id80 { --idColor: var(--category-5); }
  #id99 { --idColor: var(--category-6); }
  #id18 { --idColor: var(--category-7); }
  #id10751 { --idColor: var(--category-8); }
  #id14 { --idColor: var(--category-9); }
  #id36 { --idColor: var(--category-10); }
  #id27 { --idColor: var(--category-11); }
  #id10402 { --idColor: var(--category-12); }
  #id9648 { --idColor: var(--category-13); }
  #id10749 { --idColor: var(--category-14); }
  #id878 { --idColor: var(--category-15); }
  #id10770 { --idColor: var(--category-16); }
  #id53 { --idColor: var(--category-17); }
  #id10752 { --idColor: var(--category-18); }
  #id37 { --idColor: var(--category-19); }

/* Generic List (search, trending & category) */
.genericList-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 32px 24px;
}
.genericList-container .movie-container {
    display: inline-block;
    width: 47.5%;
  }
  
.genericList-container .movie-img {
    width: 100%;
}
  
/* Movie Detail */

.movieDetail-container {
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    padding: 32px 24px;
    margin-top: 403px;
    z-index: 1;
    position: absolute;
    background-color: var(--background-dark);
    opacity: 0.95;
}
.movieDetail-title {
    display: inline-block;
    width: 80%;
    margin: 0 0 16px 0;
    padding: 0;
}
.movieDetail-score {
    display: inline-block;
    text-align: right;
    width: 18%;
    font-weight: var(--font-weight-title2);
}
.movieDetail-score::before {
    content: '★';
    color: var(--yellow);
    padding-right: 4px;
}
  
.movieDetail-description {
    margin: 0 0 24px 0;
}
.relatedMovies-container {
    margin-top: 24px;
    height: 216px;
}
.relatedMovies-title {
    margin-bottom: 16px;
}
.relatedMovies-scrollContainer {
    position: absolute;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    width: calc(100vw - 24px);
    padding-bottom: 16px;
}
.relatedMovies-scrollContainer .movie-container {
    display: inline-block;
    margin-right: 8px;
}
.relatedMovies-scrollContainer .movie-img {
    width: 125px;
    min-width: 125px;
    max-width: 125px;
    height: 187.5px;
    min-height: 187.5px;
    max-height: 187.5px;
}

/* Form */

form {
   margin-top: 48px; 
}

  /* Footer */

footer {
    background-color: var(--grey-1);
    color: var(--letter-light);
    font-weight: var(--font-weight-text1);
    text-align: center;
    letter-spacing: 2px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px 12px 0 0;
}

/* Inactive */
.inactive {
    display: none;
}

/* Skeletoc Loading */

.category-container--skeleton {
    background: var(--primary-light-1);
    border-radius: 8px;
    height: 25px;
    min-height: 25px;
    max-height: 25px;
    width: 150px;
    min-width: 150px;
    max-width: 150px;
    margin-bottom: 15px;
    animation: loading-skeleton infinite 1.5s;
}
.category-container--skeleton:nth-child(2) {
    animation-delay: .2s;
}

.movie-container--skeleton {
    background: var(--primary-light-1);
    border-radius: 8px;
    height: 225px;
    min-height: 225px;
    max-height: 225px;
    width: 150px;
    min-width: 150px;
    max-width: 150px;
    margin-bottom: 15px;
    animation: loading-skeleton infinite 1.5s;
}

.movie-container--skeleton:nth-child(2) {
    animation-delay: .2s;
}

.movie-container--skeleton:nth-child(3) {
    animation-delay: .4s;
}

.relatedMovies-scrollContainer .movie-container--skeleton {
    width: 125px;
    min-width: 125px;
    max-width: 125px;
    height: 187.5px;
    min-height: 187.5px;
    max-height: 187.5px;
}

/* Animations */
@keyframes loading-skeleton {
    0%, 100% {
      opacity: 100%;
    }
    50% {
      opacity: 0%;
    }
}